<h1>Student Main Page </h1>


<%= form_for @student, url: {action: "update"} do |f|%>
<p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</p>
<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>
<p>
  <%= f.label :preferred_name %>
  <%= f.text_field :preferred_name %>
</p>

  <%= f.submit %>
<% end %>


<h2>Student Schedule</h2>

<% if @courses != [] %>
<%= render partial: '/courses/course', collection: @courses  %>
<% else %>
You don't currently have any classes.
<% end %>
