<h1>Student Main Page </h1>


<%= form_for @student, url: {action: "update"} do |f|%>
<p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</p>
<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>
<p>
  <%= f.label :preferred_name %>
  <%= f.text_field :preferred_name %>
</p>

  <%= f.submit %>
<% end %>


<h2>Courses</h2>

 <%= link_to "See Your Classes", student_courses_path(@student) %>
 <%= link_to "See All Classes", courses_path %>
<div id="course-list"></div>

<h2>See All Comments</h2>

<% if @comments != [] %>
<%= render partial: '/comments/comment', collection: @comments %>
<% else %>
You don't currently have any comments. <br/>
<% end %>

 <br/>
  <br/>
