
<p>
  First Name: <br/>
  <%= teacher.first_name %>
</p>
<p>
  Last Name: <br/>
  <%= teacher.last_name %>
</p>
<p>
  Preferred Name: <br/>
  <%= teacher.preferred_name %>
</p>
<p>
  A Bit about <%= teacher.preferred_name %>: <br/>
  <%= teacher.bio %>
</p>
<p> Favorite Quote: <br/>
  <%= teacher.quote %>
</p>
