<ul>
  <li>
    Course Title: <%= link_to course.title, course_path(course) %>
  </li>
  <li>
    Catalog Number: <%= course.catalog_number  %>
  </li>
  <li>
    Description: <%= course.description  %>
  </li>
  <li>
    Teacher: <%= course.teacher_name  %>
  </li>
  <li>
    Room Number: <%= course.room_number %>
  </li>
  <li>
    Meeting Time and Days of the Week: <%= course.meeting_schedule_string %>
  </li>
  <ol>
    Essential Learnings for <%= course.title %>
    <% course.essential_learnings.each do |el| %>
    <li><%= el.name %> - <%= el.content %></li>
    <% end %>
  </ol>
</ul>