<nav class="header">
    <% if user_signed_in? %>
    Signed In: <%= current_user.email %> <br/>
    <%= link_to "User Home Page", user_path %> <br/>
    <%= link_to "Logout", logout_path, method: "POST" %>
    <% else %>
    <%= link_to "Home", home_path %>
    <% end %>
    
</nav>

  <% if flash[:notice] %>
    <div class="notice field_with_errors"><%= flash[:notice] %></div>
  <% end %>
    <% if flash[:alert] %>
    <div class="alert field_with_errors"><%= flash[:alert] %></div>
  <% end %>